<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Tahmid Tanzim">
    <link rel="icon" href="/favicon.ico">

    <title>Mobile OneEleven</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/styles/main.css" rel="stylesheet">
</head>

<body style="padding-top: 0">

    <div class="container">
        <!-- Jumbotron -->
        <div class="jumbotron" style="padding-top: 20px;padding-bottom: 0;margin-bottom: 0;">
            <img src="/images/logo.png" class="img-fluid mx-auto d-block" alt="Logo" style="height: 100px;width: auto;">
        </div>